<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <style>
    input {
      width: 100vw;
      height: 1.5rem;
      margin: 1rem 0;
    }
  </style>
</head>
<body>
  <form target="_self" action="/lingq" method="GET">
    <label>
        Input Reddit URL:
      <input name="reddit" type="text" >
    </label>
    <button type="submit" class="btn btn-primary">Jump to LingQ readable import</button>
  </form>
</body>
</html>
